* {
    font-family: Arial, Helvetica, sans-serif;
}

.image {
    width: 1200px;
}

.chat {
    padding: 10px;
    border-radius: 8px;
    background: linear-gradient(to right, #fefcff 0%, #eee0ff 100%);
    max-height: 50vh;
    overflow: auto;

}
.name {
    font-weight: 200;
    font-size: 18px;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}

input {
    border: 1px solid black;
	background-image:none;
    background-color: white;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
	border-radius: 1.125rem;
	flex-grow: 2;
}



.message {
    padding: 1rem;
        border-radius: 5px;
        flex-shrink: 2;
		overflow-y: auto;
    background-color: #666666;
    color: white;
    box-shadow: 
			inset 0 2rem 2rem -2rem rgba(black, 0.05),
			inset 0 -2rem 2rem -2rem rgba(black, 0.05);
            box-sizing: border-box;
			padding: 0.5rem 1rem;
			margin: 1rem;
			background: linear-gradient(to right, #b530d0 0%, #6d2cbd 100%);
			border-radius: 1.125rem 1.125rem 1.125rem 0;
			min-height: 2.25rem;
			width: fit-content;
			max-width: 66%;
}



.image-wallet {
    width: 400px!important;
}

.image:hover {
    filter: drop-shadow(10px 10px 4px #330867);

    cursor: pointer;
}

.web3-button {
    border-radius: none!important;
    background-color: red!important;
}

@media (max-width: 700px) { 
    .image {
        width: 300px;
    }

    .header {
        margin-top: 50%;
        font-size: 50px!important;
    }
 }

 a {
    color: #330867!important;
 }


.header {
    text-align: center;
    font-size: 100px;
	background: linear-gradient(to right, #b530d0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

}