* {
    font-family: Arial, Helvetica, sans-serif;
}

.image {
    width: 1200px;
}


.image-wallet {
    width: 400px!important;
}

.image:hover {
    filter: drop-shadow(10px 10px 4px #330867);

    cursor: pointer;
}

.web3-button {
    border-radius: none!important;
    background-color: red!important;
}

@media (max-width: 700px) { 
    .image {
        width: 300px;
    }

    .header {
        margin-top: 50%;
        font-size: 50px!important;
    }
 }

 a {
    color: #330867!important;
 }


.header {
    text-align: center;
    font-size: 100px;
	background: linear-gradient(to right, #b530d0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

}